/* ---------------------------- 전체영역 ---------------------------- */
div#wrap{
	position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
}

/* ---------------------------- 헤더영역 ---------------------------- */


header{
	position:fixed;
	float:left;
	width:100px;
	height:408px;
	margin:20px 0 0 20px;
	z-index:999;
}


/* -------- 로고 (텍스트,바) -------- */

#logo_animate{
	position:relative;
	width:100%;
	height:118px;
	background-color:#0b0a09;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}

#logo_animate span{
	position:absolute;
	display:block;
}
#logo_animate img{		
	position:absolute;
} 

/* 01 얌 */
#logo_animate p.logo_line01 span.bar {	
	top:25px;
	left:-69px;
	width:69px;
	height:4px;
	background-color:#fbb813;
}
p.logo_line01 img{	
	top:24px;
	left:20px;
}
/* 02 샘 */
#logo_animate p.logo_line02 span.bar {	
	top:119px;
	right:23px;
	width:4px;
	height:93px;
	background-color:#b1b835;
}
p.logo_line02 img{	
	top:32px;
	left:42px;
}
/* 03 김*/
#logo_animate p.logo_line03 span.bar {	
	top:-97px;
	left:27px;
	width:4px;
	height:97px;
	background-color:#f4811f;
}
p.logo_line03 img{	
	top:60px;
	left:27px;
}
/* 04 밥*/
#logo_animate p.logo_line04 span.bar {	
	bottom:21px;
	left:100px;
	width:64px;
	height:4px;
	background-color:#ee4f22;
}
p.logo_line04 img{	
	top:67px;
	left:54px;
}


/* -------- 네비게이션(gnb) 메뉴 -------- */

nav.gnb{
	height:290px;
	background-image:url("../images/common/gnb_bg.gif");
	background-repeat:no-repeat;
	background-position:0 100%;
	background-color:#191919;
}

nav.gnb ul li a{
	display:block;
	height:40px;
	line-height:38px;
	text-align:center;
	border-top:1px solid #393939;
	color:#888888;
}

nav.gnb ul li a:hover{
	color:#fff;
}



/* -------- 우측 퀵 메뉴 -------- */
aside#quick_menu{
	position:fixed;
	width:200px;
	top:20px;
	right:20px;
	z-index:999;
}
aside#quick_menu ul{Position:absolute;Right:0;}
aside#quick_menu ul li{
	width:40px;
	height:40px;
	margin-bottom:7px;
	background-repeat:no-repeat;
	background-size:cover;
}
aside#quick_menu ul li a{display:block; width:100%; height:100%;}
aside#quick_menu ul li:first-child{background-image:url("../images/common/quick_icon01.png");}
aside#quick_menu ul li:nth-child(2){background-image:url("../images/common/quick_icon02.png");}
aside#quick_menu ul li:last-child{margin-bottom:0;background-image:url("../images/common/quick_icon03.png");}

aside#quick_menu ul li span{
	display:block;
	content:'';
	position:relative;
	top:6px;
	height:28px;
	line-height:31px;
	color:#666;
	text-indent:-9999px;
}
aside#quick_menu ul li:first-child:hover span{left:-55px;width:50px;background-image:url("../images/common/quick_bg01.png");text-indent:10px;}
aside#quick_menu ul li:nth-child(2):hover span{left:-102px;width:97px;background-image:url("../images/common/quick_bg02.png");text-indent:15px;}
aside#quick_menu ul li:last-child span{left:-163px;width:158px;background-image:url("../images/common/quick_tel.png");}



/* 컨텐츠 영역 -----------------------------------------------------------------------------*/

h2{
	line-height:43px;
	height:43px;
	padding:40px 0;
	background-image:url("../images/menu/product_title.gif");
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	text-indent:-9999px;
}

h2 > small{
	display:block;
	margin-top:5px;
	font-size: 16px;
	font-weight:100;
    color: #666;
	text-indent:0;
	letter-spacing:0;
}

p.tit_img{
	display:block;
	height:113px;
	padding:35px 0;
	background-image:url("../images/menu/product_point_title.gif");
	background-repeat:no-repeat;
	background-position:center;
	text-indent:-9999px;
}



/* 제품 슬라이드 영역 -----------------------------------------------------------------------------*/

	#product_wrap{
		width:100%;
		height:900px;
	}


	/* 탭메뉴 ------------------ */
	.product_tab{
		position:relative;
		width:540px;
		height:100px;
		margin:0 auto 80px;
		z-index:999;
	}
	.product_tab > li{
		float:left;
		width:90px;
		height:100px;
		text-align:center;
	}
	.product_tab > li > a{color: #999;}
	.product_tab > li .icon {
		display:block;
		width:80px;
		height:80px;
		margin:5px;
		background-repeat:no-repeat;
		background-size:cover;
	}
	.product_tab > li.on .icon{background-position:bottom center;}
	.product_tab > li:hover .icon{background-position:bottom center;}

	.product_tab > li:nth-child(1) .icon{background-image:url("../images/menu/product_tab01.png");}
	.product_tab > li:nth-child(2) .icon{background-image:url("../images/menu/product_tab02.png");}
	.product_tab > li:nth-child(3) .icon{background-image:url("../images/menu/product_tab03.png");}
	.product_tab > li:nth-child(4) .icon{background-image:url("../images/menu/product_tab04.png");}
	.product_tab > li:nth-child(5) .icon{background-image:url("../images/menu/product_tab05.png");}
	.product_tab > li:nth-child(6) .icon{background-image:url("../images/menu/product_tab06.png");}


	/* 슬라이드 ------------------ */

	h3{
		height:25px;
		background-image:url("../images/menu/product_title00.png");
		background-repeat:no-repeat;
		background-size:auto 100%;
		background-position:center;
		text-indent:-9999px;a
	}
    .swiper-container {
        width: 100%;
        height: 600px;
        margin:0 auto;
		padding-bottom:20px;
    }

	.product-top .swiper-slide{
		height:400px;
		padding-bottom:200px;
	}

	.swiper-slide{
		cursor:url("../images/common/cursor_move.png"),url("../images/common/cursor_move.cur"),auto;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		transition: opacity 0.5s;
		opacity: .2;
	}
	.swiper-slide.swiper-slide-active{opacity: 1;}


	/* 슬라이드 이미지 */
    .swiper-slide {
        background-size: 100%;
        background-position: center;
		background-repeat:no-repeat;
    }
	.swiper-slide:nth-child(1){background-image:url("../images/menu/1-1.png");}
	.swiper-slide:nth-child(2){background-image:url("../images/menu/1-2.png");}
	.swiper-slide:nth-child(3){background-image:url("../images/menu/1-3.png");}
	.swiper-slide:nth-child(4){background-image:url("../images/menu/1-4.png");}
	.swiper-slide:nth-child(5){background-image:url("../images/menu/1-5.png");}
	.swiper-slide:nth-child(6){background-image:url("../images/menu/1-6.png");}


	/* 메인 슬라이드 정보 */
	.swiper-slide > .product_info{
		position:absolute;
		width:100%;
		bottom:0;
		-webkit-transition: 1s;
		-moz-transition:1s;
		-o-transition: 1s;
		transition:1s;
		opacity:0;
		text-align:center;
	}
    .swiper-slide.swiper-slide-active > .product_info {opacity: 1;}
	.swiper-slide > .product_info:hover {opacity: 1;}

	/* 제품명 */
	.swiper-slide > .product_info > .neme{
		font-size: 18px;	
		color: #444;
	}
	/* 제품정보 */
	.swiper-slide > .product_info > .info{
		margin-top: 8px;
		font-size: 14px;
		color: #888;
	}

	/* 미리보기 */
	.product-thumbs > .swiper-wrapper > .swiper-slide{cursor:pointer;}
	.swiper-slide > .thumbs_name{
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align:center;
		color: #666;
	}

    .product-thumbs {
        height: 20%;
        box-sizing: border-box;

    }
    .product-thumbs .swiper-slide {
        width: 7%;
        height: 100%;
		background-size:100%;
		background-position: center;
		-webkit-transition: 0.5s;
		-moz-transition:0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		opacity:0.5;
    }
	.swiper-slide.swiper-slide-active{opacity:1;}
	


	/* 화살표 버튼 */
	.swiper-button-next{
		right:32%;
		background-image:url("../images/menu/btn_slide_next.png");
	}
	.swiper-button-prev{
		left:32%;
		background-image:url("../images/menu/btn_slide_prev.png");
	}
	




/* ---------------------------- 푸터영역 ---------------------------- */
footer{
	width:100%;
	height:130px;
	padding:50px 0 100px;
	text-align:center;
	color:#888;
	font-size:110%;
}

footer address {
	margin-top:20px;
	font-style:normal;
}


/* ---------------------------- 하단 버튼 ---------------------------- */
div.btn_top{
	display:none;
}
div.btn_top a {
	position:fixed;
	right:20px;
	bottom:50px;
	width:38px;
	height:38px;
	line-height:40px;
	text-align:center;
	font-weight:900;
	letter-spacing:0;
	color:#666;
	border:1px solid #e3e3e3;
	border-radius:50%;
	background-color:#fff;
	z-index:999;
}
div.btn_top a:active{
	color:#666;
}